
<div class="container">

<% if current_user.tsusername == nil %>
<h2> Cannot find yourself? Set a Nickname in your profile!</h2><br>
<% end %>

<h1>User Rankings:</h1><br>
  <!-- Headder -->
  <div class="row">
    <div class="col">
      <p>Rank</p>
    </div>
    <div class="col">
      <p>User</p>
    </div>
    <div class="col">
      <p>POI</p>
    </div>
  </div>
  <!-- Spacer -->
  <div class="dropdown-divider"></div>

      <!-- User List -->
      <% @users = User.joins("INNER JOIN points ON users.uniqueid=points.uniqueid").select("users.tsusername, points.points, users.hide").order("points.points DESC") %>
      <% @count = 1 %>
      <% @users.each do |user| %>
        <% if user.tsusername != nil && user.hide == 0 %>

        <div class="row">
          <div class="col">
            <% if @count == 1 %>
              <h3><%= @count %></h3>
            <% elsif @count == 2 %>
              <h4><%= @count %></h4>
            <% elsif @count == 3 %>
              <h5><%= @count %></h5>
            <% else %>
              <p><%= @count %></p>
            <% end %>
          </div>
          <div class="col">
              <% if user.tsusername.length > 15 %>
                <% if @count == 1 %>
                    <h3><%= user.tsusername[0..15] %>...</h3>
                  <% elsif @count == 2 %>
                    <h4><%= user.tsusername[0..15] %>...</h4>
                  <% elsif @count == 3 %>
                    <h5><%= user.tsusername[0..15] %>...</h5>
                  <% else %>
                    <p><%= user.tsusername[0..15] %>...</p>
                <% end %>
              <% else %>
                <% if @count == 1 %>
                  <h3><%= user.tsusername %></h3>
                <% elsif @count == 2 %>
                  <h4><%= user.tsusername %></h4>
                <% elsif @count == 3 %>
                  <h5><%= user.tsusername %></h5>
                <% else %>
                  <p><%= user.tsusername %></p>
                <% end %>
              <% end %>
          </div>
          <div class="col">
              <% if @count == 1 %>
                <h3><%= user.points %></h3>
              <% elsif @count == 2 %>
                <h4><%= user.points %></h4>
              <% elsif @count == 3 %>
                <h5><%= user.points %></h5>
              <% else %>
                <p><%= user.points %></p>
              <% end %>
          </div>
        </div>
        <% @count += 1 %>

        <!-- Spacer -->
        <div class="dropdown-divider"></div>
        <% end %>

      <% end %>

      <% if current_user.hide != 0 %>
      <h2 style="margin-top:50px"> You are currently hidden! To show yourself, go to your profile.</h2><br>
      <% end %>
</div>
