
<div class="container" style="margin-bottom: 150px">

<h1>Userlist for Admins:</h1>
<br>

  <% if current_user.admin? %>
  <!-- Headder -->
  <div class="row">
    <div class="col">
      <p>Username</p>
    </div>
    <div class="col">
      <p>Nickname</p>
    </div>
    <div class="col">
      <p>XP</p>
    </div>
    <div class="col">
      <p>POI</p>
    </div>
    <div class="col">
      <p>Admin?</p>
    </div>
    <div class="col">
      <p>Accepted?</p>
    </div>
    <div class="col-3">
    </div>
  </div>

      <!-- User List -->
      <% @users = User.all %>
        <% @count = 0 %>
      <% @users.each do |user| %>
        <% @usr = Point.find_by uniqueid: user.uniqueid %>
        <!-- Spacer -->
        <div class="dropdown-divider"></div>

        <div class="row">
          <div class="col">
            <p><%= user.username %></p>
          </div>
          <div class="col">
              <% if user.tsusername != nil && user.tsusername.length > 9 %>
                <p><%= user.tsusername[0..9] %>...</p>
              <% else %>
                <p><%= user.tsusername %></p>
              <% end %>
          </div>
          <div class="col">
            <% if @usr %>
              <p><%= @usr.points %></p>
            <% else %>
              <p>N/A</p>
            <% end %>
          </div>
          <div class="col">
            <% if @usr %>
              <p><%= @usr.currency %></p>
            <% else %>
              <p>N/A</p>
            <% end %>
          </div>
          <div class="col">
            <% if user.admin %>
              <p style="color: green; margin-left: 18px">✔</p>
            <% else %>
              <p style="color: #C93B21; margin-left: 18px">✘</p>
            <% end %>
          </div>
          <div class="col">
            <% if user.accepted %>
              <p style="color: green; margin-left: 25px">✔</p>
            <% else %>
              <p style="color: #C93B21; margin-left: 25px">✘</p>
            <% end %>
          </div>
          <div class="col-3">
              <% if current_user.uniqueid == "ft4sdAVw6mmRY+P/kgLzvsdeWIY=" %>
                <div class="row justify-content-around">
                  <% if !user.admin? %>
                    <%= button_to "Admin", make_admin_path, params: { id: user.id}, class: "btn btn-outline-success" %>
                  <% else %>
                    <%= button_to "Admin", make_admin_path, params: { id: user.id}, class: "btn btn-outline-danger" %>
                  <% end %>
                  <% if !user.accepted? %>
                    <%= button_to "Accept", accept_path, params: { id: user.id}, class: "btn btn-outline-success" %>
                  <% else %>
                    <%= button_to "Refuse", accept_path, params: { id: user.id}, class: "btn btn-outline-warning" %>
                  <% end %>
                  <% if current_user.uniqueid == "ft4sdAVw6mmRY+P/kgLzvsdeWIY=" %>
                    <%= button_to "Delete", delete_path, params: { id: user.id}, class: "btn btn-outline-danger" %>
                  <% end %>
                </div>
              <% else %>
                <% if !user.accepted? %>
                  <%= button_to "Accept", accept_path, params: { id: user.id}, class: "btn btn-outline-success mx-auto", style: "width: 100%" %>
                <% else %>
                  <%= button_to "Refuse", accept_path, params: { id: user.id}, class: "btn btn-outline-warning mx-auto", style: "width: 100%" %>
                <% end %>
              <% end %>
          </div>
        </div>
        <% @count = @count + 1 %>
      <% end %>

  <% else %>
    You don't have the permission to see this site.
  <% end %>
</div>
