
<div class="container" style="margin-bottom: 150px">
  <% if current_user.admin? %>
  <!-- Headder -->
  <div class="row">
    <div class="col">
      Username
    </div>
    <div class="col">
      Nickname
    </div>
    <div class="col">
      POI
    </div>
    <div class="col">
      Admin?
    </div>
    <div class="col">
      Accepted?
    </div>
    <div class="col-3">
    </div>
  </div>

      <!-- User List -->
      <% @users = User.all %>
        <% @count = 0 %>
      <% @users.each do |user| %>
        <% @usr = Point.find_by uniqueid: user.uniqueid %>
        <!-- Spacer -->
        <div class="dropdown-divider"></div>

        <div class="row">
          <div class="col">
            <%= user.username %>
          </div>
          <div class="col">
              <%= user.tsusername %>
          </div>
          <div class="col">
            <% if @usr %>
              <%= @usr.points %>
            <% else %>
              N/A
            <% end %>
          </div>
          <div class="col">
            <% if user.admin %>
              <p style="color: green">✔</p>
            <% else %>
              <p style="color: red">✘
            <% end %>
          </div>
          <div class="col">
            <% if user.accepted %>
              <p style="color: green">✔</p>
            <% else %>
              <p style="color: red">✘</p>
            <% end %>
          </div>
          <div class="col-3">
            <div class="row justify-content-around">
              <% if current_user.uniqueid == "ft4sdAVw6mmRY+P/kgLzvsdeWIY=" %>
                <% if !user.admin? %>
                  <%= button_to "Admin", make_admin_path, params: { id: user.id}, class: "btn btn-outline-success" %>
                <% else %>
                  <%= button_to "Admin", make_admin_path, params: { id: user.id}, class: "btn btn-outline-danger" %>
                <% end %>
              <% end %>
              <% if !user.accepted? %>
                <%= button_to "Accept", accept_path, params: { id: user.id}, class: "btn btn-outline-success" %>
              <% else %>
                <%= button_to "Refuse", accept_path, params: { id: user.id}, class: "btn btn-outline-warning" %>
              <% end %>
              <%= button_to "Delete", delete_path, params: { id: user.id}, class: "btn btn-outline-danger" %>
            </div>
          </div>
        </div>
        <% @count = @count + 1 %>
      <% end %>

  <% else %>
    You don't have the permission to see this site.
  <% end %>
</div>
