<!DOCTYPE html>
<html>
    <head>
        <title>Spacedose</title>
        <%= Gon::Base.render_data %>
        <%= csrf_meta_tags %>

        <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= tag :meta, name: :psj, action: action_name, controller: controller_name %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>

        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom:25px">
            <div class="container">

                <%= link_to "SpaceDose.de", root_path, class: "navbar-brand" %>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-right:-20px">
                    <ul class="navbar-nav ml-auto">

                      <% if user_signed_in? %>
                        <% if current_user.accepted? %>
                          <li class="nav-item active">
                            <%= link_to current_user.username, profile_path, class: "nav-link" %>
                          </li>
                        <% end %>
                      <% end %>

                        <% if user_signed_in? %>
                          <% if current_user.admin? %>
                            <li class="nav-item active">
                              <%= link_to "Users", user_list_path, class: "nav-link" %>
                            </li>
                          <% end %>
                        <% end %>

                        <% if user_signed_in? %>
                            <li class="nav-item active">
                              <%= link_to "Rankings", rankings_path, class: "nav-link" %>
                            </li>
                        <% end %>

                          <li class="nav-item active">
                            <%= link_to "UserConv2k18", convention_path, class: "nav-link" %>
                          </li>

                        <% if user_signed_in? %>
                          <% if current_user.accepted? %>
                            <li class="nav-item active">
                              <%= link_to "Media", new_image_path, class: "nav-link", :data => {:confirm => 'This page is lagging as FAQ. maybe crashing your browser'} %>
                            </li>
                          <% end %>
                        <% end %>

                        <li class="nav-item active">
                            <%= link_to "Ts3Viewer", ts3Viewer_path, class: "nav-link" %>
                        </li>

                        <% if user_signed_in? %>
                          <% if current_user.accepted? %>
                            <li class="nav-item active">
                              <%= link_to "FAQ", faq_path, class: "nav-link" %>
                            </li>
                          <% end %>
                        <% end %>

                        <% if user_signed_in? %>
                            <%= link_to "Log Out", logout_path, class: "btn btn-logout", style: "margin-left: 15px; padding-top: 9px" %>
                        <% else %>
                            <%= link_to "Log In", login_path, class: "btn btn-login", style: "margin-left: 15px; padding-top: 9px" %>
                        <% end %>
                    </ul>
                </div>



            </div>
        </nav>

        <% flash.each do |key, value| %>
          <div class="container alert alert-<%= key %>"><%= value %></div>
        <% end %>

        <!-- actual body -->
        <%= yield %>

<!-- Ts3Viewer Loading Script -->
<script src="https://static.tsviewer.com/short_expire/js/ts3viewer_loader.js"></script>
<script>

  var ts3v_url_1 =    "https://www.tsviewer.com/ts3viewer.php?ID=1086593&text=000000&text_size=15&text_family=4&text_s_color=000000&text_s_weight=normal&text_s_style=normal&text_s_variant=normal&text_s_decoration=none&text_i_color=&text_i_weight=normal&text_i_style=normal&text_i_variant=normal&text_i_decoration=none&text_c_color=&text_c_weight=normal&text_c_style=normal&text_c_variant=normal&text_c_decoration=none&text_u_color=000000&text_u_weight=normal&text_u_style=normal&text_u_variant=normal&text_u_decora    tion=none&text_s_color_h=&text_s_weight_h=bold&text_s_style_h=normal&text_s_variant_h=normal&text_s_decoration_h=none&text_i_color_h=000000&text_i_weight_h=bold&text_i_style_h=normal&text_i_variant_h=normal&text_i_decoration_h=none&text_c_color_h=&text_c_weight_h=normal&text_c_style_h=normal&text_c_variant_h=normal&text_c_decoration_h=none&text_u_color_h=&text_u_weight_h=bold&text_u_style_h=normal&text_u_variant_h=normal&text_u_decoration_h=none&iconset=default";
  ts3v_display.init(ts3v_url_1, 1086593, 100);

</script>

    </body>
</html>
